<div class="top-payments triplezone-module">
    <div class="triplezone-module__header">
        <i class="mdi mdi-trophy"></i>
        <p>{{ module.header }}</p>
    </div>
    <div class="top__payments--body">
        {% if module.donor %}
              <div class="top-donator">
                  <div class="avatar">
                    <img src="https://cravatar.eu/helmavatar/{{ module.ign }}/38.png" alt="" style="width: 38px;border-radius: 5px;margin-right: 15px;">
                  </div>
                  <div class="info">
                    <div class="ign">{{ module.ign }}</div>
                    <div class="amount">
                        {% if module.displayAmount %}
                            {{ __("Donated") }} {{ module.total|money }} <small>{{ store.currency }}</small>
                        {% else %}
                            {{ __("Donated the most ") }}
                        {% endif %}
                        
                        {% if module.period == "hourly" %}
                            {{ __("this hour.") }}
                        {% elseif module.period == "daily" %}
                            {{ __("today.") }}
                        {% elseif module.period == "monthly" %}
                            {{ __("this month.") }}
                        {% elseif module.period == "yearly" %}
                           {{ __("this year.") }}
                        {% else %}
                            {{ __("this week.") }}
                        {% endif %}
                    </div>
                  </div>
              </div>    
        {% else %}
        {{ __("No recent top donator to display.") }}
        {% endif %}
    </div>
</div>

